// colors
$colors-darkgreen: #035755;
$colors-light: #fa5652;

// breakpoints
$small: 576px;
$middle: 767px;
$tablet: 992px;
$desktop: 1200px;
$desktop-md: 1400px;
$desktop-lg: 1600px;
$desktop-xl: 1800px;
