.needHelp {
  margin: auto;
  max-width: 50rem;
  padding: 20px 0 10px;

  &-title {
    padding: 40px 0 10px;
  }

  &-top {
    margin-bottom: 40px;
  }

  &-form {
    padding: 40px 20px;
    &::before {
      background: unset;
    }
  }

  @media (min-width: $middle) {
    margin: auto;
    padding: 50px 0 40px;
  }

  .remark {
    color: $colors-light;
  }
}
